<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
    <link href="/sty.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="/jquery.min.js"></script>
</head>
<body>
<div id="Header">
    글쓰기
</div>
<div>
    <input id="num" type="hidden" name="id"/>
    <table>
        <tr>
            <td><label>제목 :</label></td>
            <td><input id="title" name="title"/></td>
        </tr>
        <tr>
            <td><label>글쓴이 :</label></td>
            <td><input id="id" name="id"/></td>
        </tr>
        <tr>
            <td><label>내용 :</label></td>
            <td><textarea id="content" row="4" cols="40" name="content"></textarea></td>
        </tr>
        <p>
            <input id="time" type="hidden" name="time"/>
        </p>
    </table>
</div>
<div class="btns">
    <input id="save" type="button" value="글 올리기">
</div>
<script>
    var host = '/api/board';

    today = new Date;

    function getUrlParams() {
        var params = {};
        window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (str, key, value) {
            params[key] = value;
        });
        return params;
    }

    function save() {
        var board = {
            num: $('#num').val(),
            id: $('#id').val(),
            title: $('#title').val(),
            content: $('#content').val(),
            time: $('#time').val()
        };
        var method = 'POST';
        if (board.num)
            method = 'PUT';
        requestData(method, board);
        return false;
    }

    function requestData(method, data) {
        $.ajax({
            url: host,
            method: method,
            contentType: "application/json",
            data: JSON.stringify(data)
        }).done(function () {
            window.location.href = 'board';
        });
    }

    $(document).ready(function () {

        $('#time').val(today.getFullYear().toString() + '-' + (today.getMonth() + 1).toString() + '-' + today.getDate().toString() + ' ' + today.getHours().toString() + ':' + today.getMinutes().toString() + ':' + today.getSeconds().toString())

        $('#save').on("click", save);
    });

</script>
</body>
</html>